<body>
    <div growl></div>
</body>
<div class="row">
  <div class="col-title col-lg-6">
    <h1 class="title-page text-center">Agregar Colectivos a la Línea <ins>{{busLine.line}}</ins></h1>
  </div>
</div>
<!--
<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="explication-text">Luego de agregar los colectivos, deberá establecer sus recorridos.<br> Para ello, seleccione a los colectivos que desee agregarle su recorrido y presione "Crear".</h4>
  </div>
</div>
-->
<hr></hr>
<div class="row">
  <div class="col-lg-6">
    <form name="addBusForm">
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Interno</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input numbers-only class="form-control" name="name" id="name" ng-model="bus.internal" required/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Dirección del viaje</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="name" id="name" ng-model="bus.directionOfTravel" required/>
          </div>
        </div>
      </div>
    </form>
    <div class="form-group ">
      <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="addBus()" ng-if="createMode" ng-disabled="addBusForm.$invalid">Agregar Colectivo</button>
    </div>

    <div class="form-group ">
      <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="updateBus()" ng-if="editMode" ng-disabled="addBusForm.$invalid">Guardar Cambios</button>
    </div>

    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Colectivos">
        <div class="right-align">
          <label class="select-all"><input type="checkbox" id="allSelected" name="allSelected" ng-model="allSelected" data-ng-change="allSelected? selectAllBuses() : deselectAllBuses()"> Seleccionar Todos</label>
        </div>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody dir-paginate="bus in buses|itemsPerPage:3" pagination-id="buses">
              <tr>
                <td>Interno: {{bus.internal}}</td>
                <td>
                  <a ng-click="deleteBus(bus)" href="" title="Eliminar">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
                <td>
                  <a href="" ng-click="changeToEditMode(bus)" title="Editar">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </td>
                <td>
                  <input type="checkbox" name="selectedBuses[]" value="{{bus}}" ng-model="bus.selected" title="Seleccionar">
                </td>
                <td>
                  <button class="btn btn-primary btn-lg" title="Ver Recorrido" data-toggle="modal" data-target="#modalRooutes" ng-disabled="hasRoutesCreated(bus)" ng-click="loadRoutes(bus)">Ver Recorrido</button>         
                </td>
              </tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <div class="text-center">
          <dir-pagination-controls
            pagination-id="buses"
            direction-links="true"
            boundary-links="true" >
          </dir-pagination-controls>
        </div>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="form-group ">
      <div class="thumbnail">
        <h4 class="text-muted">Seleccione uno o más colectivos y cree el Recorrido de Ida.</h4>
        <button type="button" class="btn btn-primary btn-lg btn-block login-button" data-toggle="modal" data-target="#myModal" ng-disabled="!busesSelected" title="{{(notBusesSelected()?'Seleccione uno o más colectivos para crear el recorrido.' : '')}}" required>Crear</button>
      </div>
    </div>
    <div class="form-group ">
      <div class="thumbnail">
        <h4 class="text-muted">Seleccione uno o más colectivos y cree el Recorrido de Vuelta.</h4>
        <button type="button" class="btn btn-primary btn-lg btn-block login-button" data-toggle="modal" data-target="#modalRouteBack" ng-disabled="!busesSelected || !routeWaySaved" title="{{(notBusesSelected()?'Seleccione uno o más colectivos para crear el recorrido.' : '')}}">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ROUTE WAY-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Recorrido de ida</h4>
      </div>
      <div class="modal-body">
        <!-- PLACE AUTOCOMPLETE -->
        <form name="createdRouteWayForm">
          <h4>Ingresar la dirección de origen</h4>
          <input type="text" class="form-control" places-auto-complete size=80 ng-model="originAddress" required/>
          <h4>Ingresar la dirección de destino</h4>
          <input type="text" class="form-control" places-auto-complete size=80 ng-model="destination" required/>
        </form>
        <br>
        <!-- MAP -->
        <ng-map id="addBus" center="current-position" on-click="addMarker(event)">
          <directions 
            draggable="true"
            suppress-markers="true"
            travel-mode="DRIVING"
            origin={{originAddress}}
            destination="{{destination}}">
          </directions>
          <marker ng-repeat="busStop in busStops" position="{{busStop}}" draggable="true"></marker>
        </ng-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" ng-click="saveRoute()" title="Cree el recorrido y agregue las paradas antes de guardar." ng-disabled="createdRouteWayForm.$invalid || busStops == 0">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ROUTE BACK-->
<div id="modalRouteBack" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Recorrido de Vuelta</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="text-muted"><input type="checkbox" value="" ng-model="sameRoute" ng-init="sameRoute = true" ng-disabled="drawRouteBack"> Usa el mismo recorrido que el de ida.</label>
        </div>
        <div class="row">  
          <label class="text-muted"><input type="checkbox" ng-model="drawRouteBack" ng-init="drawRouteBack = false" ng-disabled="sameRoute"> Comenzar a dibujar utilizando el recorrido de ida.</label>
        </div>
        <!-- PLACE AUTOCOMPLETE -->
        <div ng-if="drawRouteBack">
          <form name="createdRouteBackForm">
            <h4>Ingresar la dirección de origen</h4>
            <input type="text" class="form-control" places-auto-complete size=80 ng-model="backOriginAddress"/>
            <h4>Ingresar la dirección de destino</h4>
            <input type="text" class="form-control" places-auto-complete size=80 ng-model="backDestinationAddress"/>
            <!-- MAP -->
            <ng-map id="mapRouteBack" center="current-position" on-click="addMarker(event)">
              <directions 
                draggable="true"
                travel-mode="DRIVING"
                suppress-markers="true"
                ng-waypoints="{{waypointsRouteBack}}"
                origin="{{backOriginAddress}}"
                destination="{{backDestinationAddress}}">
              </directions>
              <marker ng-repeat="busStop in busStops" position="{{busStop}}" draggable="true"></marker>
            </ng-map>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div ng-if="drawRouteBack">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" ng-click="saveRouteBack()" ng-disabled="createdRouteBackForm.$invalid || busStops == 0">Guardar</button>
        </div>
        <div ng-if="sameRoute">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" ng-click="saveSameRouteForToBack()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ROUTES -->
<div id="modalRooutes" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recorridos</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <i class="fa fa-square fa-route-way" aria-hidden="true"></i><span> Recorrido de ida.</span>
        </div>
        <div class="row">
          <i class="fa fa-square fa-route-back" aria-hidden="true"></i><span > Recorrido de vuelta.</span>
        </div>
        <div class="row">
          <input type="checkbox" id="mycheckbox" name="mycheckbox" ng-model="myCheckbox" data-ng-change="myCheckbox ? displayBusStops() : hideBusStops()" /><span> Seleccionar para ver las Paradas.</span>
        </div>
        <br>
        <!-- MAP -->
        <ng-map center="{{centerMap}}" zoom="10">
          <shape name="polyline" id="polyline"
            path="{{routeWayPath}}"
            stroke-color="#195181"
            stroke-opacity="1.0"
            stroke-weight="5">
          </shape>
          <shape name="polyline" id="polyline"
            path="{{routeBackPath}}"
            stroke-color="#d22424"
            stroke-opacity="1.0"
            stroke-weight="2.8">
          </shape>
          <marker ng-repeat="busStop in busStopsAux" position="{{busStop.lat}}, {{busStop.lng}}"></marker>
        </ng-map>
      </div>
    </div>
  </div>
</div>