<body>
    <div growl></div>
</body>
<div class="row">
  <div class="col-title col-lg-6">
    <h1 class="title-page text-center">Agregar una Línea de Colectivo</h1>
  </div>
</div>
<hr></hr>
<div class="row centered-form center-block">
<div class="row">
  <div class="col-lg-6">
    <form name="addBusLineForm">
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Línea</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input numbers-only class="form-control" name="busLineNumber" id="busLineNumber" ng-model="busLine.line" required/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Url de una Imagen</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="busLineImageUrl" id="busLineImageUrl" ng-model="busLine.imageUrl" required/>
          </div>
        </div>
      </div>
    </form>
    <div class="form-group ">
      <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="addBusLine()" ng-if="createMode" ng-disabled="addBusLineForm.$invalid">Agregar Línea</button>
    </div>

    <div class="form-group ">
      <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="updateBusLine()" ng-if="editMode" ng-disabled="addBusLineForm.$invalid">Guardar Cambios</button>
    </div>

    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Líneas"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody dir-paginate="busLine in busLines|itemsPerPage:3" pagination-id="lines">
              <tr>
                <td>Línea: {{busLine.line}}</td>
                <td>
                  <a ng-click="deleteBusLine(busLine)" href="" title="Eliminar">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
                <td>
                  <a href="" ng-click="changeToEditMode(busLine)" title="Editar">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </td>
                <td>
                  <a href="" ng-click="goToBuses(busLine)">
                    Agregar Colectivo
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <div class="text-center">
          <dir-pagination-controls
            pagination-id="lines"
            direction-links="true"
            boundary-links="true" >
          </dir-pagination-controls>
        </div>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
</div>
