<h1>Ingresar</h1>
<md-divider></md-divider>
<br>
<md-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Nombre de usuario</label>
    <input type="text" ng-model="userName" required="">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Contraseña</label>
    <input type="password" ng-model="password" required="">
  </md-input-container>
  <md-button class="register md-primary md-raised" ng-click="login()">Ingresar</md-button>  
</md-container>
