<div class="row">
  <div class="col-title col-lg-6">
  		<h1 class="title-page text-center">Monitoreo de Colectivos</h1>
		<hr></hr>
	</div>
</div>
<div class="row">
  <div class="col-lg-6">
		<label for="code">Monitorear una Línea en particular:</label>
		<multiselect ng-model="selection" options="options" search-filter="searchFilter" show-search="true" show-select-all="true" show-unselect-all="true">
		</multiselect>
	</div>
</div>
<div id="map-container">
	<ng-map id="monitoringMap" styles="[{stylers:[{hue:'#f0df96'},{visibility:'simplified'}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#f0df96'}]}]">
		<marker ng-repeat="p in coordinatesBuses"
		    position="{{p.pos}}"
		    data="{{data[$index]}}"
		    title="Interno: {{p}}"
		    icon="{
		        url:'../images/bus_marker.png'
		      }"
		      default-style="false">					  
		</marker>
	</ng-map>
	<div full-screen-toggle class="custom-control">Agrandar Mapa</div>
</div>

    