<div layout="column" ng-cloak>
  <section layout="row" >
    <md-sidenav class="md-sidenav-left" md-component-id="left">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Bondi Maps</h1>
      </md-toolbar>
      <md-content>
        <menu-link class="ng-isolate-scope">
        	<a class="md-button md-ink-ripple" ng-click="goToLines()">
            <span class="ng-binding ng-scope">Líneas</span>
            <div class="md-ripple-container"></div>
          </a>
        </menu-link>
      </md-content>
    </md-sidenav>
  </section>
</div>