<div class="jumbotron">
  <div class="col-sm-12">
  	<div class="form-group">
  		<input type="text" class="form-control" placeholder="Nombre y Apellido" ng-model="companyManager.nameAndSurname">
  	</div>
  	<div class="form-group">
 		<input type="text" class="form-control" placeholder="Email" ng-model="companyManager.email">
  	</div> 
  	<div class="form-group">
  		<input type="number" class="form-control" placeholder="Teléfono" ng-model="companyManager.phone">
  	</div>
  	<div class="form-group">
 		<input type="text" class="form-control" placeholder="Nombre de usuario" ng-model="companyManager.userName">
  	</div> 
  	<div class="form-group">
 		<input type="text" class="form-control" placeholder="Contraseña" ng-model="companyManager.password">
  	</div> 
  </div>
  <button class="btn btn-default" ng-click="createCompanyManager()">Registrarse</button>
</div>