<md-button ng-click="goToLogin()">Ingresar</md-button>
<div layout="row" layout-align="center">
<md-card class="md-card-signup">
<md-toolbar class="md-table-toolbar md-default toolbar-register">
  <div class="md-toolbar-tools" layout="row" layout-align="center">
    <span>Registrarse</span>
  </div>
</md-toolbar>
<md-container>

  		<md-input-container class="md-block" flex-gt-sm>
        <label>Nombre y Apellido</label>
        <input type="text" ng-model="companyManager.nameAndSurname" required="">
      </md-input-container>

  	
 		  <md-input-container class="md-block" flex-gt-sm type="email">
        <label>Email</label>
        <input type="email" ng-model="companyManager.email" required="">
      </md-input-container>
  	
      <md-input-container class="md-block" flex-gt-sm type="number">
        <label>Teléfono</label>
        <input type="number" ng-model="companyManager.phone" required="">
      </md-input-container>
  	     
      <p class="text-danger" ng-if="signupForm.phone.$error.number">Número inválido.</p>       
    
      <md-input-container class="md-block" flex-gt-sm type="text">
        <label>Nombre de la empresa</label>
        <input type="text" ng-model="companyManager.company.name" required="">
      </md-input-container>

      <form layout layout-align="center" layout-padding>
          <div layout="row" flex>
              <md-input-container class="md-block" flex-gt-sm type="text">
                <label>Nombre de usuario</label>
                <input type="text" ng-model="companyManager.userName" required="">
              </md-input-container>
              <div>
                  <md-button class="register md-primary md-raised" ng-click="checkIfExistsUserName()">Comprobar disponibilidad</md-button>  
              </div>
          </div>  
      </form>

      <md-input-container class="md-block" flex-gt-sm type="password">
        <label>Contraseña</label>
        <input type="password" ng-model="companyManager.password" required="">
      </md-input-container> 	
      
      <md-fab-toolbar md-direction="left">
        <md-fab-trigger>
          <md-button class="register md-primary md-raised" ng-click="createCompanyManager()">Registrarse</md-button>
        </md-fab-trigger>
      </md-fab-toolbar>
   
  </md-container>
 </md-card>
</div>
 <!-- NOTIFICATIONS -->
 <div growl></div>